body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #dbeafe, #eff6ff);
}

.login-card {
    width: 100%;
    max-width: 420px;
    border: none;
    
}

.brand-title {
    font-weight: 700;
    /* color: #0d6efd; */
    color: #fc64ff;
}

.form-control {
    border-radius: 12px;
    padding: 12px;
}

/* .form-control:focus {
    box-shadow: none;
    outline: none;
    border-color: #ced4da; /* default grey 
} */

.btn-primary {
    border-radius: 12px;
    padding: 12px;
    font-weight: 600;
}
.custom-bg {
    background-color: #f5f5f5;
}
/* These are style for the link */
a {
    text-decoration: none;
    color: #fc64ff;
}

a:link {
  color: rgb(0, 72, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
  
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
