body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #dbeafe, #eff6ff);
}

.login-card {
    width: 100%;
    max-width: 420px;
    border: none;
    
}

.brand-title {
    font-weight: 700;
    /* color: #0d6efd; */
    color: #fc64ff;
}

.form-control {
    border-radius: 12px;
    padding: 12px;
}

/* .form-control:focus {
    box-shadow: none;
    outline: none;
    border-color: #ced4da; /* default grey 
} */

.btn-primary {
    border-radius: 12px;
    padding: 12px;
    font-weight: 600;
}
.custom-bg {
    background-color: #f5f5f5;
}
/* These are style for the link */
a {
    text-decoration: none;
    color: #fc64ff;
}

a:link {
  color: rgb(0, 72, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
  
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

/* This is for aesthetic reasons for the login page make it look more impactful */
/* Add this to create the split screen */
.auth-wrapper {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

/* This styles the new Ad side */
.auth-billboard {
    flex: 1.3;
    background: linear-gradient(135deg, #005fe3 0%, #1e428b 100%);
    color: white;
    padding: 40px 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* This ensures your initial container takes up the remaining space */
.auth-wrapper .container {
    flex: 1.2;
    background-color: #f8fafc; 
    margin: 0; /* Override default Bootstrap centering margins */
    max-width: none;
}

.billboard-content {
    max-width: 850px; 
    width: 100%;
}

.ad-item {
    display: flex;
    gap: 25px;
    align-items: flex-start;
    margin-bottom: 10px;
}

.ad-icon {
    font-size: 1.5rem;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
}

